$base-color: #1A1A2E;
$base-color-primary: #16213E;
$base-color-secondary: #0F3460;
$base-color-red: #E94560;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-hover: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);