@import "./styles/variables.scss";

#main {
  min-height: 100vh;
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 0 5rem;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-main {
  background-color: $base-color-red;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: darken($base-color-red, 3);
  }
}

// helper classes

.text-left {
  text-align: left;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 3rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.cocktail-card {
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: $box-shadow;

  &:hover {
    outline: 3px solid $base-color-secondary;
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
}

.cocktail-details-card {
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.cocktail-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .cocktail-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 3rem;
  }
}